# ===============================
# Service Configuration
# ===============================

name: api-gateway

replicaCount: 1

image:
  repository: 971997843851.dkr.ecr.ap-south-1.amazonaws.com/api-gateway
  tag: 1   # Jenkins will automatically update this

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "250m"
    memory: "256Mi"

env:
  SPRING_PROFILES_ACTIVE: dev

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 70
